.hero {
    background: url('https://images.pexels.com/photos/3671146/pexels-photo-3671146.jpeg?auto=compress&cs=tinysrgb&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    align-items: center;
    padding: 90px;
}

.middle {
    width: 350px;
    border: 5px solid gray;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    color: brown;
    text-align: center;
    padding: 30px 10px 30px 10px;
    font-size: 25px;
}

.middle2 {
    width: 350px;
    // border: 5px solid gray;
    padding: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    background: url('https://images.pexels.com/photos/210607/pexels-photo-210607.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}


  %test {
    position: absolute;
    content: '';
    transition: all .5s;
  }
  
  button { 
    display: inline-block; 
    padding: 20px 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    font-family: 'Rubik One', sans-serif;
    text-decoration: none;
    font-size: 4vw;
    transition: all .5s;
    background-color: #3498db;
    border-radius: 10px;
    opacity: 0.6;
  
    &::before {
      @extend %test;
      bottom: -15px;
      height: 15px;
      width: 100%;
      left: 8px;
      transform: skewX(45deg);
      background-color: darken(gray, 20%);
    }
  
    &::after {
      @extend %test;
      right: -15px;
      height: 100%;
      width: 15px;
      bottom: -8px;
      transform: skewY(45deg);
      background-color: darken(gray, 30%);
    }
  
    &:active {
      margin-left: 10px;
      margin-top: 10px;
      &::before {
        bottom: -5px;
        height: 5px;
        left: 3px;
      }
      
      &::after {
        right: -5px;
        width: 5px;
        bottom: -3px;
      }	
    }
  }


// .buttons-2 {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.box-1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color: rgb(72, 42, 6);
  background-color: rgb(196, 196, 196);
  opacity: 0.6;
}

.span1 {
  color: #c77d0f;
  font-weight: bolder;
}


